# .vs/*
# Data/bin/*
# Data/obj/*
# HastyBLC/appsettings.json
# HastyBLC/bin/*
# HastyBLC/obj/*
# HastyBLCAdmin/appsettings.json
# HastyBLCAdmin/bin/*
# HastyBLCAdmin/obj/*
# Resources/bin/*
# Resources/obj/*
# Services/bin/*
# Services/obj/*

