@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Services.ServiceModels.AspNetRoleViewModel
<link rel="stylesheet" href="~/css/editrole.css" />

<div class="modal" id="editRoleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Role</h4>
            </div>
            <!-- Modal body -->
            @* <div class="box">
                <div class="edit-role-modal">
                    <div class="overlap">
                        <div class="edit-role-input-box">
                            <div class="overlap-group">
                                <div class="text-wrapper">@Model.Name</div>
                            </div>
                        </div>
                        <div class="div">Edit Role</div>
                        <div class="create-role-button">
                            <div class="div-wrapper">
                                <div class="text-wrapper-2">Close</div>
                            </div>
                        </div>
                        <div class="overlap-wrapper">
                            <div class="overlap-2">
                                <div class="text-wrapper-3">Edit Role</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
            <form method="post" action="/Superadmin/EditRole">
                <div class="form-outline mb-4">
                    <input type="hidden" id="editRoleId" asp-for="RoleId" />
                    <input type="text" id="editRoleName" class="form-control"
                           asp-for="Name" placeholder="Enter role name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn-custom btn-close" data-dismiss="modal">Close</button>
                    <button class="btn-custom btn-add-genre" type="submit">Edit Role</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/superadmin.js"></script>