@model Data.ViewModels.CreateRoleViewModel
@section styles {
    <link rel="stylesheet" href="~/css/createrole.css" />
}
@{
    ViewData["Title"] = "CreateRole";
}
<html>
    <body>
    <div class="user-master-create">
        <div class="div">
            <header class="header">
                <div class="text-wrapper">Hasty Book Lovers’ Club</div>
                <div class="text-wrapper-2">
                    <img class="icon-logout" alt="Icon logout" src="~/img/logout-icon.png" />
                    <form method="post" asp-controller="Account" asp-action="SignOutUser" id="logoutForm">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fas fa-sign-out-alt"></i>Logout
                        </button>
                    </form>
                </div>
                <div class="text-wrapper-3">USER MASTER</div>
                @* <img class="icon-logout" alt="Icon logout" src="~/img/logout-icon.png" /> *@
                @* <form method="post" asp-controller="Account" asp-action="SignOutUser" id="logoutForm">
                <button type="submit" class="btn btn-outline-danger"><i class="fas fa-sign-out-alt"></i>Logout</button>
                </form> *@
                <img class="logo" alt="Logo" src="~/img/logo.png" />
            </header>
            <div class="create-role-section">
                <div class="overlap">
                    <form asp-action="CreateRole">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div>
                            <label class="text-wrapper-5" asp-for=" RoleName" class="control-label">Role Name</label>
                            <input class="role-name-input-box" asp-for=" RoleName" />
                            <span asp-validation-for=" RoleName" class="text-danger hidden"></span>
                        </div>
                        <div class="create-role-button">
                            <div class="overlap-group">
                                <input type="submit" value="Create Role" class="text-wrapper-4"/>
                            </div>
                        </div>
                    </form>
                    <div class="text-wrapper-6">CREATE ROLE</div>
                    <div>
                        <a class="text-wrapper-7" asp-action="Index">
                            <img class="icon-return" alt="Icon return" src="~/img/back.png" />
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

@section Scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}