@using Services.ServiceModels
@model UserViewModel
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Register Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/registeruser.css" />
}

<html>
<body>
<div class="user-master-register">
    <div>
        <header class="header">
            <div class="text-wrapper">Hasty Book Lovers’ Club</div>
            <div class="text-wrapper-2">
                <img class="icon-logout" alt="Icon logout" src="~/img/logout-icon.png" />
                <form method="post" asp-controller="Account" asp-action="SignOutUser" id="logoutForm">
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fas fa-sign-out-alt"></i>Logout
                    </button>
                </form>
            </div>
            <div class="text-wrapper-3">USER MASTER</div>
            @* <img class="icon-logout" alt="Icon logout" src="~/img/logout-icon.png" /> *@
            @* <form method="post" asp-controller="Account" asp-action="SignOutUser" id="logoutForm">
            <button type="submit" class="btn btn-outline-danger"><i class="fas fa-sign-out-alt"></i>Logout</button>
            </form> *@
            <img class="logo" alt="Logo" src="~/img/logo.png" />
        </header>
        <div class="register-user-section">
            <div class="register-user">
                <form method="post" action="/Superadmin/Register">
                    <div>
                        <label class="text-wrapper-6" for="email">Email</label>
                        <input class="user-name-input-box-2" type="text" id="email" class="form-control"
                                asp-for="Email" placeholder="  Enter email" />
                        <span asp-validation-for="Email" class="text-danger hidden"></span>
                    </div>
                    <div>
                        <label class="text-wrapper-7" for="username">Name</label>
                            <input class="user-name-input-box-3" type="text" id="username" class="form-control"
                                asp-for="Username" placeholder="  Enter name" />
                        <span asp-validation-for="Username" class="text-danger hidden"></span>
                    </div>
                    <div>
                        <label class="text-wrapper-8" for="password">Password</label>
                            <input class="user-name-input-box-4" type="password" id="password" class="form-control"
                                asp-for="Password" placeholder="  Enter password" />
                        <span asp-validation-for="Password" class="text-danger hidden"></span>
                    </div>
                    <div>
                        <label class="text-wrapper-4" for="confirmpassword">Confirm Password</label>
                            <input class="user-name-input-box" type="password" id="confirmpassword" class="form-control"
                                asp-for="ConfirmPassword" placeholder="  Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger hidden"></span>
                    </div>
                    <div class="register-user-button">
                        <div class="register-user-box">
                            <input type="submit" value="Register User" class="text-wrapper-5" />
                        </div>
                    </div>
                </form>
                    <div class="text-wrapper-10">CREATE/REGISTER USER</div>
                <div>
                    <a class="text-wrapper-9" asp-action="Index">
                        <img class="icon-return" alt="Icon return" src="~/img/back.png" />
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}