@model BookListViewModel
@section styles {
    <link rel="stylesheet" href="~/css/HastyBLC.css" />
}
@{
    ViewData["Title"] = "Dashboard";
}
<html>
<body>
    <div class="sidebar">
        <div class="image">
            <img src="~/img/logo.png" class="imagehw">
        </div>
        <div class="hasty">
            <h1>HASTY</h1>
            <h1>BLC</h1>
        </div>
        <div class="screens">
            <a asp-controller="Dashboard" asp-action="Dashboard" class="active">Dashboard</a>
            <a asp-controller="Books" asp-action="Books">Browse Books</a>
        </div>
    </div>
    <div class="content">
        <div>
            <h2 class="title">Top Books</h2>
            <div>
                <div class="topBookContainer">
                    <img src="/img/1 (2).jpg" class="bookImage">
                </div>
                <div class="topBookContainer">
                    <img src="/img/2.jpg" class="bookImage">
                </div>
                <div class="topBookContainer">
                    <img src="/img/3.jpg" class="bookImage">
                </div>
                <div class="topBookContainer">
                    <img src="/img/4.jpg" class="bookImage">
                </div>
                <div class="topBookContainer">
                    <img src="/img/5.jpg" class="bookImage">
                </div>
                <div class="topBookContainer">
                    <a asp-controller="Dashboard" asp-action="TopBooks" style="text-align:center; display:block">
                        <span style="display: inline-block; text-align: center; font-family: 'Josefin Sans', sans-serif;">&#8594</span><br>Top Books
                    </a>
                </div>
            </div>
        </div>
        <div>
            <h2 class="title">New Books</h2>
            @{
                var sortedBooks = Model.Books?.AsEnumerable().OrderByDescending(book => book.CreatedTime).Take(5);
            }

            @foreach (var book in sortedBooks!)
            {
                <div class=" = newBookContainer">
                    <div class="bookContent">
                        <h5 style="max-width:150px;">@book.Title</h5>
                        <ul>
                            <li>@book.AuthorName</li>
                            @* <li>@book.CreatedTime</li>  *@ @* <--- to check if content is in proper order according to latest creation time, uncomment the commented list *@
                        </ul>
                    </div>
                </div>
            }
            <div class="topBookContainer">
                <a asp-controller="Dashboard" asp-action="NewBooks" style="text-align:center; display:block">
                    <span style="display: inline-block; text-align: center; font-family: 'Josefin Sans', sans-serif;">&#8594</span><br>New Books
                </a>
            </div>
        </div>
    </div>
</body>
</html>