body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #665A38;
    z-index: -1; 
}

body, html {
    background-color: #eedeaa;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

.basic-body {
    background-color: #eedeaa;
    margin: 0;
    padding: 0;
}

footer {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; 
    justify-content:space-evenly;
}

    .header .image {
        margin-bottom: 10px; 
    }

    .header h2 {
        margin: 0; 
    }

        .header h2:not(.bottom-title) {
            margin-bottom: 0px; 
        }

div.image {
    padding-top: 30px;
    text-align: start;
}

div.content {
    text-align:center;
}

.imagehw {
    width: 130px;
    height: 130px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #665A38;
}
    h2.bottom-title {
        font-weight: bolder;
        font-size: 50px;
        margin-top: 10px;
    }

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .title h2 {
        margin: 0; /* Reset default margin */
    }


.logout-button {
    position: absolute;
    color: #EEDEAA;
    background: none;
    border: none;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    bottom: 0;
}

    .logout-button:hover {
        background: none;
    }

.reset-pass-btn {
    border: solid;
    color: #eedeaa;
    background-color: #665A38;
    border-color: #665A38;
    border-radius: 20px;
    width: 300px;
    margin-bottom: 20px;
}
    .reset-pass-btn:hover {
        /* Resetting properties to initial state */
        background-color: white; /* Or any other initial color */
        border: solid; /* Add the border style you want on hover */
        color: #665A38; /* Reset the text color */
        border-radius: 20px; /* Maintain the border radius */
    }

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: grey;
}

.center-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 600px;
    border: 1px solid #eedeaa;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 20px;
    border-color: #665A38;
}

.back-btn {
    color: #665A38;
    background:none;
    border:none;
}
    .back-btn:hover {
        color: red;
        background: none;
        border: none;
    }
