.text-center{
    position:relative;
    justify-content:center;
    align-items: center;
}
.genres-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.genre-container {
    position: relative;
    flex: 0 0 calc(25% - 20px); 
    margin: 10px; 
}

.genre-button {
    width: 240px;
    height: 80px;
    border: none;
    border-radius: 10px;
    background-color: #AF924A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    color: #EEDEAA;
    gap: 10px;
    outline: none;
    transition: background-color 0.3s;
}

    .genre-button:hover {
        background-color: #665A36;
    }



.editGenreBtn, .deleteGenreBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.25rem;
    font-size: 0.75rem;
    border-radius: 3px;
    border: none !important;
    color: #EEDEAA;
}
    .editGenreBtn:hover, .deleteGenreBtn:hover {
        background-color: #EEDEAA;
    }
.deleteGenreBtn {
    right: calc(5px + 25px); 
}

.fixed-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    border-radius: 50px;
    background-color: #647CA4;
    color: #CAC6B1;
    padding: 15px;
    border-color: #647CA4;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
}
    .fixed-bottom-right:hover {
        background-color: #2B4165;
    }





