@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <text>
        <a asp-controller="Account" asp-action="Login">Return to Login</a>
    </text>
}
