body, html {
    background-color: #eedeaa;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

footer {
    display: none;
}


.hasty {
    color: #EEDEAA;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 50px;
    word-break: break-word;
}

a {
    color: black;
}

    a:hover {
        color: initial;
        text-decoration: none;
    }

.sidebar {
    margin: 0;
    padding-left: 0px;
    width: 250px;
    background-color: #665A38;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.screens {
    padding-left: 45px;
}

.sidebar a {
    display: block;
    color: #EEDEAA;
    padding: 16px;
    text-decoration: none;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

    .sidebar a.active {
        height: 60px;
        background-color: #AF924A;
        color: #EEDEAA;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        padding-left: 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
    }

div.image {
    padding-top: 30px;
    text-align: center;
}

.imagehw {
    width: 130px;
    height: 130px;
}

div.content {
    margin-left: 150px;
    padding-top: 50px;
    padding-right: 16px;
    padding-bottom: 16px;
    height: 100%;
}

.content-container {
    display: none;
    overflow-x: auto;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

.li3 {
    padding-bottom: 20px;
}

.add-book-btn-container {
    position: absolute;
    bottom: 10px;
    right: 14px;
}

    .add-book-btn-container .btn {
        border-radius: 50px;
        background-color: #647CA4;
        color: #CAC6B1;
        padding: 15px;
        position: relative;
        border-color: #647CA4;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    }

.book-row {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.viewAll-book-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.book-item {
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
    padding: 16px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}

.book-image-container {
    border-radius: 10px;
    width: 180px;
    height: 260px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.book-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.book-item h2 {
    font-size: 24px;
}

.book-item ul li {
    font-size: 14px;
}

.book-details-text {
    justify-content: center;
    width: 100%;
}


.bookContent {
    border-radius: 10px;
    width: 180px;
    height: 260px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.newBookContainer {
    display: inline-block;
    margin-right: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topBookContainer {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.bookImage {
    width: 160px;
    height: 260px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.logout-button {
    position: absolute;
    color: #EEDEAA;
    background: none;
    border: none;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    bottom: 0;
}

    .logout-button:hover {
        background: none;
    }

.user-info-container {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.profile-image-container {
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user {
    text-align: center;
    line-height: 70px;
}

.fixed-pagination-container {
    position: absolute;
    bottom: 0px;
    left: 55%;
    transform: translateX(-50%);
}

.spaced-pagination .page-item {
    margin: 0 5px;
}

.page-number {
    background-color: transparent;
    border: none;
    color: #000;
}

.page-item.active a.page-link {
    background-color: #665A38;
    color: #EEDEAA;
}

.unselected {
    color: #000;
}

.page-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.page-link:hover {
    background-color: #EEDEAA
}

.username-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
    display: inline-block;
}

.back-buttonn {
    background-color: #647CA4;
    border: none;
    border-radius: 150px;
    color: #CAC6B1;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    z-index: 3;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #4F678D;
}

@media (max-width: 1360px) {
    .hasty {
        font-size: 35px;
    }

    .imagehw {
        width: 100px;
        height: 100px;
    }

    .sidebar {
        width: 200px;
    }

        .sidebar a {
            font-size: 16px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bolder;
        }

            .sidebar a.active {
                height: 50px;
                font-size: 16px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: bolder;
            }
}

@media (max-width: 1280px) {
    .hasty {
        font-size: 35px;
    }

    .imagehw {
        width: 100px;
        height: 100px;
    }

    .sidebar {
        width: 185px;
    }

        .sidebar a {
            font-size: 16px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bolder;
        }

            .sidebar a.active {
                height: 50px;
                font-size: 16px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: bolder;
            }
}

@media (max-width: 1200px) {
    .hasty {
        font-size: 35px;
    }

    .imagehw {
        width: 100px;
        height: 100px;
    }

    .sidebar {
        width: 160px;
    }

        .sidebar a {
            font-size: 16px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bolder;
        }

            .sidebar a.active {
                height: 50px;
                font-size: 16px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: bolder;
            }
}


@media (max-width: 800px) {
    .hasty {
        font-size: 30px;
    }

    .imagehw {
        width: 70px;
        height: 70px;
    }

    .sidebar {
        width: 150px;
    }

        .sidebar a {
            font-size: 14px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bolder;
        }

            .sidebar a.active {
                height: 50px;
                font-size: 14px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: bolder;
            }
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox {
    flex: 0 0 calc(33.33% - 10px);
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

    .checkbox input {
        margin: 0;
    }

    .checkbox label {
        margin: 0 5px;
    }


.search-bar {
    margin-bottom: 20px;
}

    .search-bar input[type="text"] {
        padding: 8px;
        width: 800px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 14px;
    }

    .search-bar button {
        padding: 8px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
    }

        .search-bar button:hover {
            background-color: #0056b3;
        }

.arrow-link {
    background-color: #EEDEAA;
    border: none;
    color: black;
}
    .arrow-link:hover {
        background-color: #665A38;
        color: #000;
    }

.genre-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre-column {
    width: calc(33.33% - 10px);
    box-sizing: border-box;
}

    .genre-column div {
        margin-bottom: 10px;
    }


.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    color: #665A38;
    font-weight: 500;
}

    .checkbox-container label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 16px;
        height: 16px;
        border: 1px solid #665A38;
        background-color: #eedeaa;
    }

.checkbox-container input[type="checkbox"]:checked + label:after {
    content: '\2713';
    font-size: 12px;
    position: absolute;
    top: 1px;
    left: 3px;
    color: #fff;
    border-color: #665A38;
    color: #665A38;
    font-weight: bolder;
}

.checkbox-container input[type="checkbox"]:checked + label:before {
    background-color: #eedeaa;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.page-item {
    margin: 0 5px;
    display: inline-block;
}

.page-link {
    background-color: transparent;
    border: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

    .page-link:hover,
    .page-item.active .page-link {
        background-color: #665A38;
        color: #EEDEAA;
    }

    .page-link.ellipsis {
        border: none;
        background-color: #EEDEAA;
        color: black;
    }
.pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    margin: 0 5px;
    display: inline-block;
}

.user-books-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-book-item {
    flex: 0 0 calc(20% - 10px); /* 20% width for 5 books in a row with margins */
    box-sizing: border-box;
    margin-bottom: 20px;
}



