@model Services.ServiceModels.ForgotPasswordViewModel

<h2>Forgot Password</h2>

<p>Please enter your email address. We will send you a link to reset your password.</p>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="RecoveryEmail"></label>
        <input asp-for="RecoveryEmail" class="form-control" />
        <span asp-validation-for="RecoveryEmail" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
