@model Services.ServiceModels.ForgotPasswordViewModel
@section styles {
    <link rel="stylesheet" href="~/css/forgorpassword.css" />
}
@{
    ViewData["Title"] = "Forgot Password";
}
<html>
<body>
    <div class="center-screen">
        <div class="container">
            <div class="header">
                <!-- Header content -->
                <div class="image">
                    <img src="~/img/logo.png" class="imagehw">
                </div>
                <div class="title">
                    <h2>Hasty Book Lovers' Club</h2>
                    <h2 class="bottom-title">Forgot Password</h2>
                </div>
            </div>
            <div class="content">
                <!-- Form content -->
                <p>Please enter your email address. We will send you a link to reset your password.</p>

                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <input asp-for="RecoveryEmail" class="form-control" placeholder="recoveryemail@email.com" />
                        <span asp-validation-for="RecoveryEmail" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary reset-pass-btn">Reset Password</button>
                </form>
                <a href="@Url.Action("Login", "Account")" class="btn btn-secondary back-btn">Back to Login</a>
            </div>
        </div>
    </div>
</body>
</html>
