@model LoginViewModel
@using static Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
<div>
    @Html.AntiForgeryToken()
</div>
<div class="row d-flex justify-content-center align-items-center w-100" style="min-height: 100vh">
    <div class="col-xl-10">
        <div class="card rounded-3 text-black" style="background-color: #EEDEAA">
            <div class="row g-0 w-1080px">
                <div class="col-lg-6 d-flex align-items-center">
                    <!-- Image on the left -->
                    <img style="width:108%; height:100%" src="~/img/HastyBLCLoginBackground.jpg" />
                </div>
                <div class="col-lg-6">
                    <!-- Content on the right -->
                    <div class="card-body p-md-5 mx-md-4">
                        <div class="text-center">
                            <img src="~/img/logo.png"
                                 style="width: 120px;" alt="logo">
                            <div class="text-left" style="margin-top:20px; margin-bottom: 20px;">
                                <h2 style="font-size: 20px; color: #665A38; margin: 0;">Welcome to</h2>
                                <h2 style="font-size: 86px; color: #665A38; margin: 0;">HASTY</h2>
                                <h2 style="font-size: 30px; color: #665A38; margin: 0;">Book Lovers' Club</h2>
                            </div>
                        </div>
                        <form method="post" action="/Account/Login" id="loginForm">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example11">Email Address</label>
                                <input type="text" id="form2Example11" class="form-control custom-input" asp-for="Email" placeholder="Enter email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example22">Password</label>
                                <input type="password" id="form2Example22" class="form-control custom-input" asp-for="Password" placeholder="Enter password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <div></div> <!-- This creates space on the left -->
                                    <a asp-controller="Account" asp-action="ForgotPassword" class="text-muted text-decoration-none" style="font-size: 12px; color: #665A38">Forgot Password? @ForgotPass</a>
                                </div>
                            </div>
                            <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
                                <button class="btn btn-primary btn-block login-btn mb-3" type="submit">
                                    Sign in @Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}