@model Services.ServiceModels.ResetPasswordViewModel
@section styles {
    <link rel="stylesheet" href="~/css/forgorpassword.css" />
}
@{
    ViewData["Title"] = "Reset Password";
}
<html>
<body>
    <div class="center-screen">
        <div class="container">
            <div class="header">
                <div class="image">
                    <img src="~/img/logo.png" class="imagehw">
                </div>
                <div class="title">
                    <h2>Hasty Book Lovers' Club</h2>
                    <h2 class="bottom-title">Reset Password</h2>
                </div>
            </div>
            <div class="content">
                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Code" />

                    <div class="form-group">
                        <label asp-for="NewPassword">New Password</label>
                        <input asp-for="NewPassword" class="form-control" placeholder="New Password"/>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password"/>
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary reset-pass-btn">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
