@section styles {
    <link rel="stylesheet" href="~/css/forgorpassword.css" />
}
@{
    ViewData["Title"] = "Reset Password";
}

<div class="center-content">
    <div class="image">
        <img src="~/img/confirm-27-512.png" class="imagehw">
    </div>
    <h2>Reset Password Confirmation</h2>

    <p>Your password has been successfully reset. You can now log in with your new password.</p>

    <p>If you didn't request this change or need further assistance, please contact support.</p>

    <a asp-controller="Account" asp-action="Login" class="text-muted text-decoration-none" style="font-size: 24px; color: #665A38; font-weight:bolder">Return to Login</a>
</div>