<h2>Reset Password Confirmation</h2>

<p>Your password has been successfully reset. You can now log in with your new password.</p>
<a asp-controller="Account" asp-action="Login" class="text-muted text-decoration-none" style="font-size: 12px; color: #665A38">Return to Login</a>

<p>If you didn't request this change or need further assistance, please contact support.</p>