@model BookListViewModel
@section styles {
    <link rel="stylesheet" href="~/css/HastyBLCStyle.css" />
}

@{
    ViewData["Title"] = "Book Page";
}

<html>
<body>
    <div class="sidebar">
        <div class="image">
            <img src="~/img/logo.png" class="imagehw">
        </div>
        <div class="hasty">
            <h1>HASTY</h1>
            <h1>BLC</h1>
        </div>
        <div class="screens">
            <a asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
            <a asp-controller="Genres" asp-action="Genres">Genres</a>
            <a asp-controller="Books" asp-action="Books" class="active">Books</a>
        </div>
    </div>
    <div class="content">
        <div class="all-books-label">ALL BOOKS</div>
            <div class="add-book-btn-container">
                <a asp-controller="Books" asp-action="AddBook" class="btn btn-outline-danger">Add Book</a>
            </div>
           
            <div class="books-row">
                @foreach (var book in Model.Books!)
                {
                    <div class="book-item">
                        <div class="book-image-container">

                        <a asp-controller="Books" asp-action="ViewBook" asp-route-id="@book.BookId">
                            <img src="~/img/@book.Image" alt="@book.Title" class="book-image" />
                        </a>

                        </div>
                        
                      
                     </div>
               
                
            }

        </div>
    </div>
   
</body>
</html>
