@model IEnumerable<Book>
@section styles {
    <link rel="stylesheet" href="~/css/HastyBLCStyle.css" />


}

@{
    ViewData["Title"] = "Book Page";
}

<html>
<body>
    <div class="sidebar">
        <div class="image">
            <img src="~/img/logo.png" class="imagehw">
        </div>
        <div class="hasty">
            <h1>HASTY</h1>
            <h1>BLC</h1>
        </div>
        <div class="screens">
            <a asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
            <a asp-controller="Genres" asp-action="Genres">Genres</a>
            <a asp-controller="Books" asp-action="Books" class="active">Books</a>
            <form method="post" asp-controller="Account" asp-action="SignOutUser" id="logoutForm">
                <button type="submit" class="logout-button"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </div>
    </div>
    <div class="user">
        <div class="user-info-container">
            <span class="username username-truncate">@User.Identity!.Name</span>
            <div class="profile-image-container"></div>
        </div>
    </div>
    <div class="content">
        <h2 class="title">ALL BOOKS</h2>
            <div class="books-row">
                @foreach (var book in Model)
                {
                    <div class="book-item">
                        <div class="book-image-container">
                        <a asp-controller="Books" asp-action="ViewBook" asp-route-id="@book.BookId">
                            <img src="~/@Html.Raw(book.Image)" alt="@book.Title" class="book-image" />
                        </a>

                        </div>
                     </div>    
                }
            </div>
        <div class="add-book-btn-container">
            <a asp-controller="Books" asp-action="AddBook" class="btn btn-outline-danger">Add Book</a>
        </div>

    </div>
   
</body>
</html>
