@model Services.ServiceModels.BookViewModel

@{
    ViewData["Title"] = "Edit Book";
}

<div class="container">
    <h2>Edit Book</h2>

    <form method="post" action="/Books/EditBook" enctype="multipart/form-data">
        <input type="hidden" asp-for="BookId" /> 

        <div class="form-group">
            <label asp-for="Title">Title:</label>
            <input asp-for="Title" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="AuthorName">Author:</label>
            <input type="text" id="authorName" class="form-control"
                   asp-for="AuthorName" placeholder="Enter author" value="@Model.AuthorName" />
        </div>

        <div class="form-group">
            <label asp-for="GenreNames">Genre:</label>
            <input asp-for="GenreNames" class="form-control" value="@Model.GenreNames" />
        </div>

        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        </div>

        <div class="form-group">
            @* <label asp-for="Image">Image URL:</label>
            <input asp-for="Image" class="form-control" /> *@
            <label class="form-label" for="image">Upload Image:</label>
            <input type="file" id="image" name="image" asp-for="Image" />
            <button type="button" class="btn btn-primary btn-block login-btn gradient-custom-2 mb-3" onclick="clearImageInput()">Clear Image</button>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PublishDateStr">Publish Date:</label>
            <input asp-for="PublishDateStr" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Publisher">Publisher:</label>
            <input asp-for="Publisher" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Isbn">ISBN:</label>
            <input asp-for="Isbn" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Language">Language:</label>
            <input asp-for="Language" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Format">Format:</label>
            <input asp-for="Format" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="PagesStr">Pages:</label>
            <input asp-for="PagesStr" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-controller="Books" asp-action="Books">
            &#8592 Back
        </a>
    </form>
</div>
@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
        function clearImageInput() {
            document.getElementById('image').value = ''; // Resets the value of the input field
        }
    </script>
}