@model Genre
@section styles {
    <link rel="stylesheet" href="~/css/HastyBLCStyle.css" />
    <link rel="stylesheet" href="~/css/viewgenre.css" />
}
@{
    ViewData["Title"] = "Genres";
}
<html>
<body>
    <div class="genre-container">
        <a asp-controller="Genres" asp-action="BackToGenres" class="btn btn-outline-danger back-btn">Back</a>
        <h1>@Model.Name</h1>

        <div class="books-grid">
            @if (Model.BookGenres == null || Model.BookGenres.Count == 0)
            {
                <p>There are no books in this genre</p>
            }
            else
            {
                @foreach (var bookGenre in Model.BookGenres)
                {
                    <div class="book-item">
                        <!-- Display the book image -->
                        <img src="~/@Html.Raw(bookGenre.Book!.Image)" alt="@bookGenre.Book!.Title" class="book-cover-img" />
                        <form method="get" asp-action="ViewBook">
                            <input type="hidden" name="bookId" value="@bookGenre.Book!.BookId" />
                            <button type="submit" class="btn book-btn">@bookGenre.Book!.Title</button>
                        </form>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>
